/*GLOBAL*/
@font-face{
    font-family: myFont;
    src: url('Poppins-Regular.ttf') format('truetype');
}

body{
    font-family: myFont;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 0;
}

img{
    border: none !important;
    outline: none;
    box-shadow: none;
}

.mySection{
    background-color: #f1f1f1;
    
}

.mySection h2{
    margin-block-start: 0 !important;
    font-size: 1.75em;
    color: black;
    font-weight: bolder;
}

/*Navbar*/
.container{
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6em;
    position: fixed;
    box-shadow: 2px 0px 6px #07070799;
    z-index: 5;
    top: 0;
    left: 0;
}

.logo {
    margin-left: 1em;
    object-fit:fill;
    width: auto;
}

nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%
}

ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

.linkEl {
    font-size: larger;
    text-decoration: none;
    color: #626262;
    align-self: center;
}


/*Ansprechpartner*/
.containerAP {
    display: flex;
    height: 300px;
    align-items: center;
    background-color: #093B3F;
    justify-content: space-between;
}

/*links*/
.description {
    padding-left: 1em;
    height: inherit;
    width: 50%;
    font-size: large;
    letter-spacing: 1px;
}
.description p{
    line-height: 1.25em;
    margin-top: 3dvh;
    padding-right: 3em
}

/*rechts*/
.profile {
    width: 50%;
    height: inherit;
    display: flex;
    font-size: medium;
    line-height: 1.25em;

}
.profile .imageContainer{
    border: none;
    width: 35%;
    height: auto;
}
.profile .imageContainer .image{
    max-width: 75%;
    min-width: 50%;
    margin-top: 1em;
    margin-right: 1em;
    display: block;
    margin-left: auto;
    border-radius: 15%;
}
.profile .textContent{
    width: 65%;
}

/*Footer*/
.fc-container {
    background-color: #093B3F;
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    align-items: center;
}

#links {
    width: 25%;
    display: flex;
    font-size: larger;
}

#links > .linkComp {
    margin: auto;
    color: inherit;
    text-decoration: none;
}

#socialmedia {
    display: flex;
    width: 25%;
}
#socialmedia > img {
    margin: auto;
}

#logo {
    max-width: 18%;
    min-width: 17%;
    height: auto;
    margin: auto;
    margin-top: 0px;
}


/*IslandGraphic*/
hr {
    border: 2px solid #093B3F;
}

.hrContainer {
    height: 1em;
    margin: 25px;
    max-width: 15%;
    min-width: 10%;
}

.islandContainer img {
    min-width: 10%;
    object-fit: contain;
}

.islandContainer {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

/*ImageCarousel*/
.carouselContainer{
    width: 60%;
    margin: auto;
    padding: 2em;
}
.carouselContainer div{
    margin: auto;
    display: block;
}

.carouselContainer div img{
    min-width: 50%;
    max-width: 50%;
    margin: auto;
}

.darkText {
    color:#093B3F;
}

/*RelevanteThemen*/
.imgContainer{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    color:black;
    text-align: left;
    padding-bottom: 150px;
}

.imgContainer .itemWrapper {
    min-width: 25%;
    max-width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

.imgContainer img{
    min-width: 100%;
    border-radius: 2em;
    margin-top: 0;
}

.imgContainer strong{
    display: block;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

/*Einstieg.js*/
.backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.entraceWrapper {
    height: 100vh;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}

.h2Wrapper {
    display: flex;
    justify-content: center;
}

.buttonWrapper {
    width: 100%;
    display: flex;
}

.buttonWrapper button{
    margin: auto;
    display: inline;
    font-family: myFont;
    background-color: #093B3F;
    border: 2pt solid #093B3F;
    color: inherit;
    width: 20%;
    padding: 6pt;
    border-radius: 57pt;
    font-size: medium;

}
