.container{
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav {
}

.logo {
    margin: 0;
    margin-left: 15px;
    width: 10%;
}

ul {
    display: flex;
}

.linkEl {
    margin: 5px;
    font-size: larger;
    text-decoration: none;
    color: #626262;
    font-family: Arial, Helvetica, sans-serif;
}